<div class="logo-and-headline">
    <a href="index.html"><img src="img/pokeball-1594373_640.png" alt="" class="logo-header"></a>
    <h1 class="headline">Pokédex</h1>
</div>
<form onsubmit="searchPokemon(); return false" id="searchform">
    <input type="text" name="searchfield" id="searchfield" placeholder="Pokémon suchen..." minlength="3" pattern="[A-Za-z]{3,}" required title="Bitte geben Sie mindestens 3 Buchstaben ein. Nur Buchstaben von A-Z (groß und klein) sind erlaubt.">
    <button type="submit" class="search-button"><img src="img/icons/search.png"></button>
</form>


